{% extends 'security.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <h1>This login page</h1>
{% endblock %}
{% block javascripts %}{% endblock %}