{% extends 'base.html.twig' %}
{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
 <h1>This Homepage</h1>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
