<!DOCTYPE html>
<html lang="fr">
    <!-- begin::Head -->
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="Latest updates and statistic charts">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href=""/>
    </head>
    <!-- end::Head -->
    <!-- end::Body -->
    <body>
    <!-- begin:: Page -->
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
    </body>
</html>